@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@200..800&family=Roboto+Mono:wght@400;500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@200..800&family=Roboto+Mono:wght@400;500;700&display=swap');

:root {
	--font-mono: 'JetBrains Mono', 'Roboto Mono', monospace;
	--font-xl: clamp(1.75rem, 1.2rem + 1.8vw, 2.5rem);
	--font-l: clamp(1.5rem, 1.15rem + 1.2vw, 2rem);
	--font-m: clamp(1.25rem, 1.05rem + 0.6vw, 1.5rem);
	--font-s: clamp(0.75rem, 0.7rem + 0.2vw, 0.875rem);
	--font-light: 300;
	--font-semi-bld: 600;
	--font-bld: 800;
	--bg-clr: #f8fafc;
	--secondary-clr: #0f172a;
	--teritary-clr: #475569;
	--accent-clr: #1d4ed8;
	--border-clr: #cbd5e1;

	color-scheme: light;
}

@media (prefers-color-scheme: dark) {
	:root {
		--bg-clr: #0b1120;
		--secondary-clr: #e2e8f0;
		--teritary-clr: #94a3b8;
		--accent-clr: #60a5fa;
		--border-clr: #263248;

		color-scheme: dark;
	}
}

html,
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: var(--bg-clr);
	color: var(--secondary-clr);
	display: flex;
	flex-direction: column;
	font-family: var(--font-mono);
	min-height: 100dvh;
}

h1 {
	font-size: var(--font-xl);
	font-weight: var(--font-semi-bld);
}

h2 {
	font-size: var(--font-l);
	font-weight: var(--font-semi-bld);
}

h3 {
	font-size: var(--font-m);
}

h4 {
	font-size: var(--font-s);
}
p {
	font-size: clamp(1rem, 0.95rem + 0.3vw, 1.2rem);
}

/* Keeping the footer at the bottom */
main {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

a {
	text-decoration: none;
	font-weight: var(--font-light);
}

.accent {
	color: var(--accent-clr);
	font-weight: var(--font-bld);
}
